<div class="row" ng-controller="PeopleController" ng-if="data.name">
  <div class="col-sm-12 col-md-12">
    
    <div class="row">
      <div class="jumbotron">
        <h1>{{data.name}}</h1>
        <p><strong>Altura: </strong>{{data.height}}</p>
        <p ng-if="data.hair_color != 'n/a'"><strong>Cor do cabelo: </strong>{{data.hair_color}}</p>
        <p ng-if="data.skin_color != 'n/a'"><strong>Cor da pele: </strong>{{data.skin_color}}</p>
        <p ng-if="data.eye_color != 'n/a'"><strong>Cor dos olhos: </strong>{{data.eye_color}}</p>
        <p ng-if="data.homeworldObj"><strong>Origem: </strong><a href="{{data.homeworldObj.link}}">{{data.homeworldObj.name}}</a></p>
      </div>
    </div>
    
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Filmes em que <strong>{{data.name}}</strong> particiou</div>
        <div class="panel-body">
          <div class="col col-sm-4 col-md-3" ng-repeat="movie in data.films">
            <movie-button data-url="{{movie}}"></movie-button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="data.starships.length">
      <div class="panel panel-default">
        <div class="panel-heading">Naves estelares em que <strong>{{data.name}}</strong> esteve</div>
        <div class="panel-body">
          <div class="col col-sm-4 col-md-3" ng-repeat="starship in data.starships">
            <starship-button data-url="{{starship}}"></starship-button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="data.vehicles.length">
      <div class="panel panel-default">
        <div class="panel-heading">Veículos em que <strong>{{data.name}}</strong> esteve</div>
        <div class="panel-body">
          <div class="col col-sm-4 col-md-3" ng-repeat="vehicle in data.vehicles">
            <vehicle-button data-url="{{vehicle}}"></vehicle-button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Personagens</div>
        <div class="panel-body">
          <div class="col col-sm-4 col-md-3" ng-repeat="people in movie.characters">
            <person-button data-url="{{people}}"></person-button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Planetas</div>
        <div class="panel-body">
          <div class="col col-sm-4 col-md-3" ng-repeat="planet in movie.planets">
            <planet-button data-url="{{planet}}"></planet-button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Naves estelares</div>
        <div class="panel-body">
          <div class="col col-sm-4 col-md-3" ng-repeat="starship in movie.starships">
            <starship-button data-url="{{starship}}"></starship-button>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>