<div class="row" ng-controller="PlanetController" ng-if="data.name">
  <div class="col-sm-12 col-md-12">
    
    <div class="row">
      <div class="jumbotron">
        <h1>{{data.name}}</h1>
        <p><strong>Período de rotação: </strong>{{data.rotation_period}}</p>
        <p><strong>Período orbital: </strong>{{data.orbital_period}}</p>
        <p><strong>Diâmetro: </strong>{{data.diameter}}</p>
        <p><strong>Clima: </strong>{{data.climate}}</p>
        <p><strong>Gravidade: </strong>{{data.gravity}}</p>
        <p><strong>Terreno: </strong>{{data.terrain}}</p>
        <p><strong>Superfície com água: </strong>{{data.surface_water}}</p>
        <p><strong>População: </strong>{{data.population}}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Filmes em que <strong>{{data.name}}</strong> particiou</div>
        <div class="panel-body">
          <div class="col col-sm-4 col-md-3" ng-repeat="movie in data.films">
            <movie-button data-url="{{movie}}"></movie-button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Residentes</div>
        <div class="panel-body">
          <div class="col col-sm-4 col-md-3" ng-repeat="resident in data.residents">
            <person-button data-url="{{resident}}"></person-button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>