@import 'variables'

body {
  background-color: #FFF;
  color: #000;
}

ul, li, form, h1, h2, h3, h4, h5, h6, span, p, div, label, button, a, hr {
  margin: 0;
  padding: 0;
}

#main-content {
  padding-left: 10px;
}

*,
a,
a:focus,
a:active,
a:hover,
input,
input:focus,
input:active,
input:hover,
input[type],
input[type]:focus,
input[type]:active,
input[type]:hover,
button,
button:focus,
button:active,
button:hover {
  outline: 0;
  box-sizing: border-box;
}

// @import 'components/**/*.styl'
// @import 'directives/**/*.styl'
// @import 'template/**/*.styl'
