<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">Star Wars</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filmes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="movie in movies"><a href="{{movie.link}}">{{movie.title}}</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav" ng-if="people != undefined && people != {}">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personagens <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="person in people"><a href="{{person.link}}">{{person.name}}</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav" ng-if="planets != undefined && planets != {}">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planetas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="planet in planets"><a href="{{planet.link}}">{{planet.name}}</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav" ng-if="starships != undefined && starships != {}">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Naves estelares <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="starship in starships"><a href="{{starship.link}}">{{starship.name}}</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav" ng-if="vehicles != undefined && vehicles != {}">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Veículos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="vehicle in vehicles"><a href="{{vehicle.link}}">{{vehicle.name}}</a></li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</nav>